.title{
    font-weight: bold;
    font-size: 16px;
}

.label {
    font-size: 12px;
}

/*navbar stuff start*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    color: whitesmoke;
    font-size: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*navbar stuff end*/

/*dashboard formatting*/
.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteeldarkred;
    border-radius: 8px;
}
.legendSize text.label {
    fill: black;
}
.table {
    font-size: 0.7em;
}
.tiptext{
    text-align: left;
}
#mapSelection{
    font-size: 1.5em;
}
