.title {
    font-weight: bold;
    font-size: 16px;
}

body {
    font-family: Charter;
}

.bar-tooltip {
    fill: #bd4147;
    background: #6c757d;
    font-size: 10px;
}

.label {
    font-size: 12px;
    font-family: Charter;
}

.axis {
    font-family: Charter;
    font-size: 11px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 50px;
}


/*dashboard formatting*/
.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px Charter;
    background: lightsteeldarkred;
    border-radius: 8px;
}
.legendSize text.label {
    fill: black;
}
.table {
    font-size: 0.7em;
}
.tiptext{
    text-align: left;
}
#mapSelection{
    font-size: 1.5em;
}

h5, h6 {
    font-size: 12px;
}
